<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="sensor_hostname" default="ouster" />
    <arg name="viz" default="false" />
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!-- Ouster -->
    <include file="$(find ouster_ros)/launch/sensor.launch">
        <arg name="sensor_hostname" value="$(arg sensor_hostname)" />
        <arg name="viz" value="$(arg viz)" />
        <arg name="timestamp_mode" value="TIME_FROM_PTP_1588" />
    </include>

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <!-- include file="$(find lio_sam)/launch/include/module_rviz.launch" /-->

</launch>
