<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="sensor_hostname" default="ouster" />
    <arg name="viz" default="false" />
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <!--- Robot State TF -->
    <param name="robot_description" command="$(find xacro)/xacro $(find husky_description)/urdf/husky.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" />

    <!-- Ouster -->
    <include file="$(find ouster_ros)/launch/sensor.launch">
        <arg name="sensor_hostname" value="$(arg sensor_hostname)" />
        <arg name="viz" value="$(arg viz)" />
        <arg name="timestamp_mode" value="TIME_FROM_PTP_1588" />
    </include>

    <!--- Run Navsat -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" respawn="true">
        <rosparam file="$(find lio_sam)/config/ekf.yaml" command="load" />
    </node>

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Run Rviz-->
    <!-- include file="$(find lio_sam)/launch/include/module_rviz.launch" /-->

</launch>
